# You can whitelist files/folders with !, these will not be ignored.
*
!.gitignore
!*.yaml
!*.md
!*.sh
!*.js*
!zigbee2mqtt/
!blueprints/

#

# Ignore these files/folders
secrets.yaml
.storage
.cloud
.google.token 
home-assistant.log